# Analyze Startup Investments from Crunchbase.com
We will use techniques in pandas to analyze a large dataset. Crunchbase is a website that crowdsources information on the fundraising rounds of many startups. The Crunchbase user community submits, edits, and maintains most of the information in Crunchbase.

We will practice working with different memory constraints. In this step, we will assume we only have 10 megabytes of available memory. While crunchbase-investments.csv consumes 10.3 megabytes of disk space, pandas often requires 4 to 6 times amount of space in memory as the file does on disk (especially when there's many string columns). To be on the safe side we will read the data set into dataframes using 5,000 row chunks to ensure that each chunk consumes much less than 10 megabytes of memory.

## Determine The Optimal Chunk Size

In [1]:
import pandas as pd
import sqlite3

In [2]:
# mem_avail is the memory in MB available for processing a chunk of data
# mem_thres is the acceptable memeory footprint of the chunk of data. In our case it is considered to be less than 50% of the mem_avail
def optimum_rows_in_chunk (mem_avail):
    fname = 'crunchbase-investments.csv'
    mem_thres = .5*mem_avail
    chunk_iter = pd.read_csv(fname, chunksize=5000)
    mem_usages = []
    for chunk in chunk_iter:
        mem = chunk.memory_usage(deep=True).sum()/(1024**2)
        mem_usages.append(round(mem,2))
    #print('The memory usages of the 5000 rows-chunks:\n{}'.format(mem_usages))

    print("{:8}{:^20}".format("","Memory (MB)"))
    for ind, val in enumerate(mem_usages): 
        print("chunk-{:<2}\t{:<10.2f}".format(ind+1, val))

    print('The average memory usage is {:.2f} MB'.format(sum(mem_usages)/len(mem_usages)))

In [3]:
# Check if the memory usage of 5000 rows is within 10 MB of memory
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000)
mem_usages = []
for chunk in chunk_iter:
    mem = chunk.memory_usage(deep=True).sum()/(1024**2)
    mem_usages.append(round(mem,2))
#print('The memory usages of the 5000 rows-chunks:\n{}'.format(mem_usages))

print("{:8}{:^20}".format("","Memory (MB)"))
for ind, val in enumerate(mem_usages): 
    print("chunk-{:<2}\t{:<10.2f}".format(ind+1, val))
    
print('The average memory usage is {:.2f} MB'.format(sum(mem_usages)/len(mem_usages)))

            Memory (MB)
chunk-1 	5.58
chunk-2 	5.53
chunk-3 	5.54
chunk-4 	5.53
chunk-5 	5.52
chunk-6 	5.55
chunk-7 	5.53
chunk-8 	5.51
chunk-9 	5.40
chunk-10	4.64
chunk-11	2.66
The average memory usage is 5.18 MB

### Comment
It is safe to read 5000 rows in a chunk since the average memory usage is 5.18 MB which is almost 50% of the available 10 MB memory.

## Missing Values In The Fields

In [4]:
#Missing values of each column
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000)
chunks_missing_vals = []
total_len = 0
for chunk in chunk_iter:
    chunks_missing_vals.append(chunk.isnull().sum())
    total_len += chunk.shape[0]
net_missing_vals = pd.concat(chunks_missing_vals)
total_missing_vals = net_missing_vals.groupby(net_missing_vals.index).sum()
sorted_tot_miss_vals = total_missing_vals.sort_values()
percentage_missing_vals = sorted_tot_miss_vals*100/total_len
print("{:<25}{:<5}\t{:<5}".format("Column Name","Missing Count","Percentage"))
for ind in range(len(sorted_tot_miss_vals)):
    print("{:<30}{:<5}\t{:>10.2f}".format(sorted_tot_miss_vals.index[ind], sorted_tot_miss_vals.iloc[ind], percentage_missing_vals.iloc[ind]))

Column Name              Missing Count	Percentage
company_country_code          1    	      0.00
company_name                  1    	      0.00
company_permalink             1    	      0.00
company_region                1    	      0.00
investor_region               2    	      0.00
investor_permalink            2    	      0.00
investor_name                 2    	      0.00
funded_quarter                3    	      0.01
funded_at                     3    	      0.01
funded_month                  3    	      0.01
funded_year                   3    	      0.01
funding_round_type            3    	      0.01
company_state_code            492  	      0.93
company_city                  533  	      1.01
company_category_code         643  	      1.22
raised_amount_usd             3599 	      6.81
investor_country_code         12001	     22.70
investor_city                 12480	     23.61
investor_state_code           16809	     31.79
investor_category_code        50427	     95.38

### Comment
- Columns with more than 50% missing values can be dropped from further analysis. In this data the investor_category_code has 95% of its values missing hence will be dropped.
- All the columns have at least one missing value.

## Memory Footprint Of Each Field and The Dataset

In [5]:
# Memory footprint of each column and Total memory of the dataset
chunks_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000)
chunks_mem_usage = []
for chunk in chunks_iter:
    chunks_mem_usage.append(chunk.memory_usage(deep=True))
chunks_mem_usage_combined = pd.concat(chunks_mem_usage)
total_chunks_mem_usage = chunks_mem_usage_combined.groupby(chunks_mem_usage_combined.index).sum()/(1024**2)
total_chunks_mem_usage_desc = total_chunks_mem_usage.sort_values(ascending=False)
print("{:<25}{:<5}".format("Column Name","Memory (MB)"))
for ind in range(len(total_chunks_mem_usage_desc)):
    print("{:<30}{:<10.2f}".format(total_chunks_mem_usage_desc.index[ind], total_chunks_mem_usage_desc.iloc[ind]))
print("Net memory footprint of the dataset is {:6.2f} MB.".format(total_chunks_mem_usage_desc.sum()))

Column Name              Memory (MB)
investor_permalink            4.75
company_permalink             3.87
investor_name                 3.74
company_name                  3.43
funded_at                     3.38
company_city                  3.34
company_category_code         3.26
company_region                3.25
funding_round_type            3.25
investor_region               3.24
funded_quarter                3.23
funded_month                  3.23
company_country_code          3.03
company_state_code            2.96
investor_city                 2.75
investor_country_code         2.52
investor_state_code           2.36
investor_category_code        0.59
raised_amount_usd             0.40
funded_year                   0.40
Index                         0.00
Net memory footprint of the dataset is  56.99 MB.

# Explore the column types

Before adding the data into sqlite, we will identify the types for each column.

In [6]:
#Data structure of the first chunk
chunks_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000)
for chunk in chunks_iter:
    print(chunk.info())
    break

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_permalink       5000 non-null   object
 1   company_name            5000 non-null   object
 2   company_category_code   4948 non-null   object
 3   company_country_code    5000 non-null   object
 4   company_state_code      4947 non-null   object
 5   company_region          5000 non-null   object
 6   company_city            4936 non-null   object
 7   investor_permalink      5000 non-null   object
 8   investor_name           5000 non-null   object
 9   investor_category_code  2443 non-null   object
 10  investor_country_code   4222 non-null   object
 11  investor_state_code     3629 non-null   object
 12  investor_region         5000 non-null   object
 13  investor_city           4100 non-null   object
 14  funding_round_type      5000 non-null   object
 15  funded_at               5000 non-null   object
 16  funded_month            5000 non-null   object
 17  funded_quarter          5000 non-null   object
 18  funded_year             5000 non-null   int64
 19  raised_amount_usd       4347 non-null   float64
dtypes: float64(1), int64(1), object(18)
memory usage: 781.4+ KB
None

We will check for any inconsitancy in data type across the chunks for each column.

In [7]:
#Determine if data type of each column is consitant across the chunks.
chunks_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000)
col_dtypes_chunks = {}
for idx, chunk in enumerate(chunks_iter):
    chunkname = "chunk{:<2}".format(idx+1)
    col_dtypes_chunks[chunkname] = chunk.dtypes
print(col_dtypes_chunks)

{'chunk1 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code     object
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk2 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk3 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk4 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk5 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk6 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk7 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year               float64
raised_amount_usd         float64
dtype: object, 'chunk8 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk9 ': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code      object
investor_state_code        object
investor_region            object
investor_city              object
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk10': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code     float64
investor_state_code       float64
investor_region            object
investor_city             float64
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object, 'chunk11': company_permalink          object
company_name               object
company_category_code      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
investor_permalink         object
investor_name              object
investor_category_code    float64
investor_country_code     float64
investor_state_code       float64
investor_region            object
investor_city             float64
funding_round_type         object
funded_at                  object
funded_month               object
funded_quarter             object
funded_year                 int64
raised_amount_usd         float64
dtype: object}

In [8]:
#Determine the columns that conserve/do not conserve datatype across the chunks
print(pd.DataFrame(col_dtypes_chunks))

                        chunk1   chunk2   chunk3   chunk4   chunk5   chunk6   \
company_permalink        object   object   object   object   object   object
company_name             object   object   object   object   object   object
company_category_code    object   object   object   object   object   object
company_country_code     object   object   object   object   object   object
company_state_code       object   object   object   object   object   object
company_region           object   object   object   object   object   object
company_city             object   object   object   object   object   object
investor_permalink       object   object   object   object   object   object
investor_name            object   object   object   object   object   object
investor_category_code   object  float64  float64  float64  float64  float64
investor_country_code    object   object   object   object   object   object
investor_state_code      object   object   object   object   object   object
investor_region          object   object   object   object   object   object
investor_city            object   object   object   object   object   object
funding_round_type       object   object   object   object   object   object
funded_at                object   object   object   object   object   object
funded_month             object   object   object   object   object   object
funded_quarter           object   object   object   object   object   object
funded_year               int64    int64    int64    int64    int64    int64
raised_amount_usd       float64  float64  float64  float64  float64  float64

                        chunk7   chunk8   chunk9   chunk10  chunk11
company_permalink        object   object   object   object   object
company_name             object   object   object   object   object
company_category_code    object   object   object   object   object
company_country_code     object   object   object   object   object
company_state_code       object   object   object   object   object
company_region           object   object   object   object   object
company_city             object   object   object   object   object
investor_permalink       object   object   object   object   object
investor_name            object   object   object   object   object
investor_category_code  float64  float64  float64  float64  float64
investor_country_code    object   object   object  float64  float64
investor_state_code      object   object   object  float64  float64
investor_region          object   object   object   object   object
investor_city            object   object   object  float64  float64
funding_round_type       object   object   object   object   object
funded_at                object   object   object   object   object
funded_month             object   object   object   object   object
funded_quarter           object   object   object   object   object
funded_year             float64    int64    int64    int64    int64
raised_amount_usd       float64  float64  float64  float64  float64

### Comment
Columns with mixed data types are 
- investor_category_code has object and float64
- investor_country_code has object and float64
- investor_state_code has object and float64
- investor_city has object and float64
- funded_year has int64 and float64

In [9]:
#Overview of the dataset
initial_10 = pd.read_csv('crunchbase-investments.csv', nrows=10)
print(initial_10)

     company_permalink company_name company_category_code  \
0    /company/advercar     AdverCar           advertising
1  /company/launchgram   LaunchGram                  news
2        /company/utap         uTaP             messaging
3    /company/zoopshop     ZoopShop              software
4    /company/efuneral     eFuneral                   web
5       /company/tackk        Tackk                   web
6    /company/acclaimd     Acclaimd             analytics
7    /company/acclaimd     Acclaimd             analytics
8    /company/toviefor     ToVieFor             ecommerce
9    /company/ohk-labs     OHK Labs                sports

  company_country_code company_state_code         company_region  \
0                  USA                 CA                 SF Bay
1                  USA                 CA                 SF Bay
2                  USA                NaN  United States - Other
3                  USA                 OH               Columbus
4                  USA                 OH              Cleveland
5                  USA                 OH              Cleveland
6                  USA                 OH               Columbus
7                  USA                 OH               Columbus
8                  USA                 NY               New York
9                  USA                 FL             Palm Beach

    company_city                                 investor_permalink  \
0  San Francisco                         /company/1-800-flowers-com
1  Mountain View                               /company/10xelerator
2            NaN                               /company/10xelerator
3       columbus                               /company/10xelerator
4      Cleveland                               /company/10xelerator
5      Cleveland                               /company/10xelerator
6       Columbus                               /company/10xelerator
7       Columbus                               /company/10xelerator
8       New York  /company/2010-nyu-stern-business-plan-competition
9     Boca Raton                           /company/22hundred-group

                              investor_name investor_category_code  \
0                         1-800-FLOWERS.COM                    NaN
1                               10Xelerator                finance
2                               10Xelerator                finance
3                               10Xelerator                finance
4                               10Xelerator                finance
5                               10Xelerator                finance
6                               10Xelerator                finance
7                               10Xelerator                finance
8  2010 NYU Stern Business Plan Competition                    NaN
9                           22Hundred Group                    NaN

  investor_country_code investor_state_code investor_region investor_city  \
0                   USA                  NY        New York      New York
1                   USA                  OH        Columbus      Columbus
2                   USA                  OH        Columbus      Columbus
3                   USA                  OH        Columbus      Columbus
4                   USA                  OH        Columbus      Columbus
5                   USA                  OH        Columbus      Columbus
6                   USA                  OH        Columbus      Columbus
7                   USA                  OH        Columbus      Columbus
8                   NaN                 NaN         unknown           NaN
9                   NaN                 NaN         unknown           NaN

  funding_round_type   funded_at funded_month funded_quarter  funded_year  \
0           series-a  2012-10-30      2012-10        2012-Q4         2012
1              other  2012-01-23      2012-01        2012-Q1         2012
2              other  2012-01-01      2012-01        2012-Q1         2012
3              angel  2012-02-15      2012-02        2012-Q1         2012
4              other  2011-09-08      2011-09        2011-Q3         2011
5              other  2012-02-01      2012-02        2012-Q1         2012
6              angel  2012-06-01      2012-06        2012-Q2         2012
7              angel  2012-08-07      2012-08        2012-Q3         2012
8              angel  2010-04-01      2010-04        2010-Q2         2010
9              angel  2011-09-01      2011-09        2011-Q3         2011

   raised_amount_usd
0            2000000
1              20000
2              20000
3              20000
4              20000
5              20000
6              20000
7              70000
8              75000
9             100000

## Investor_category_code

In [10]:
# Explore the mixed-data-type of investor_category_code
# Print the inital 10 rows from chunk1 and chunk2
chunks_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, usecols=['investor_category_code'])
chunk_no = 1
for chunk in chunks_iter:
    if chunk_no <= 2:
     print(chunk.head(10))
    chunk_no += 1

  investor_category_code
0                    NaN
1                finance
2                finance
3                finance
4                finance
5                finance
6                finance
7                finance
8                    NaN
9                    NaN
      investor_category_code
5000                     NaN
5001                     NaN
5002                     NaN
5003                     NaN
5004                     NaN
5005                     NaN
5006                     NaN
5007                     NaN
5008                     NaN
5009                     NaN

### Comment
We found earlier that the investor_category_code has approx. 95% null values. The null values are represented as NAN from the float type. Except the few data that belongs to finance, the rest of the values are null of type float64. This column is ignored as 95% of null values will make it not useful for any data analysis.

In [11]:
# Explore the distribution of values in investor_category_code
import numpy as np
chunk_iter = pd.read_csv("crunchbase-investments.csv", chunksize=5000, usecols=['investor_category_code'])
value_counts_chunks = []
total_data = 0
for chunk in chunk_iter:
    value_counts_chunks.append(chunk['investor_category_code'].value_counts(dropna=False))
    total_data += chunk.shape[0]
overall_value_counts = pd.concat(value_counts_chunks)
sorted_overall_value_counts = overall_value_counts.groupby(overall_value_counts.index, dropna=False).sum().sort_values(ascending=False)
normalized_overall_value_counts = sorted_overall_value_counts*100/total_data
print("{:20}{:8}{:8}".format("Values", "Count", "Percentage"))
for indx,val in enumerate(normalized_overall_value_counts):
        print("{:<20}{:<8}{:<8}".format(normalized_overall_value_counts.index[indx], sorted_overall_value_counts.iloc[indx], round(val,2)))

Values              Count   Percentage
nan                 50427   95.38
finance             586     1.11
other               371     0.7
software            212     0.4
web                 174     0.33
biotech             161     0.3
enterprise          111     0.21
network_hosting     90      0.17
hardware            84      0.16
social              82      0.16
public_relations    80      0.15
mobile              72      0.14
consulting          66      0.12
games_video         51      0.1
ecommerce           46      0.09
health              41      0.08
semiconductor       39      0.07
cleantech           34      0.06
security            32      0.06
news                30      0.06
search              27      0.05
advertising         22      0.04
messaging           7       0.01
education           6       0.01
legal               4       0.01
government          3       0.01
nonprofit           2       0.0
nanotech            2       0.0
medical             2       0.0
manufacturing       2       0.0
fashion             1       0.0
real_estate         1       0.0
transportation      1       0.0
pets                1       0.0

In [12]:
# Define function to explore the distribution of values in a column
def dist_values(filename, chunk_size, colname):
    import numpy as np
    chunk_iter = pd.read_csv(filename, chunksize=chunk_size, usecols=[colname])
    value_counts_chunks = []
    total_data = 0
    for chunk in chunk_iter:
        value_counts_chunks.append(chunk[colname].value_counts(dropna=False))
        total_data += chunk.shape[0]
    overall_value_counts = pd.concat(value_counts_chunks)
    sorted_overall_value_counts = overall_value_counts.groupby(overall_value_counts.index, dropna=False).sum().sort_values(ascending=False)
    normalized_overall_value_counts = sorted_overall_value_counts*100/total_data
    print("{:20}{:8}{:8}".format("Values", "Count", "Percentage"))
    for indx,val in enumerate(normalized_overall_value_counts):
            print("{:<20}{:<8}{:<8}".format(normalized_overall_value_counts.index[indx], sorted_overall_value_counts.iloc[indx], round(val,2)))

In [13]:
dist_values('crunchbase-investments.csv', 5000, 'investor_category_code')

Values              Count   Percentage
nan                 50427   95.38
finance             586     1.11
other               371     0.7
software            212     0.4
web                 174     0.33
biotech             161     0.3
enterprise          111     0.21
network_hosting     90      0.17
hardware            84      0.16
social              82      0.16
public_relations    80      0.15
mobile              72      0.14
consulting          66      0.12
games_video         51      0.1
ecommerce           46      0.09
health              41      0.08
semiconductor       39      0.07
cleantech           34      0.06
security            32      0.06
news                30      0.06
search              27      0.05
advertising         22      0.04
messaging           7       0.01
education           6       0.01
legal               4       0.01
government          3       0.01
nonprofit           2       0.0
nanotech            2       0.0
medical             2       0.0
manufacturing       2       0.0
fashion             1       0.0
real_estate         1       0.0
transportation      1       0.0
pets                1       0.0

## Investor_county_code

In [14]:
# Explore the mixed-data-type of investor_country_code
# Print the inital 10 rows from chunk1, chunk8, chunk9 and chunk10
chunks_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, usecols=['investor_country_code'])
chunk_no = 1
for chunk in chunks_iter:
    if chunk_no in [1, 8, 9, 10]:
     print(chunk.head(10))
    chunk_no += 1

  investor_country_code
0                   USA
1                   USA
2                   USA
3                   USA
4                   USA
5                   USA
6                   USA
7                   USA
8                   NaN
9                   NaN
      investor_country_code
35000                   USA
35001                   USA
35002                   USA
35003                   USA
35004                   USA
35005                   USA
35006                   USA
35007                   USA
35008                   USA
35009                   USA
      investor_country_code
40000                   USA
40001                   USA
40002                   USA
40003                   USA
40004                   USA
40005                   USA
40006                   USA
40007                   USA
40008                   USA
40009                   USA
       investor_country_code
45000                    NaN
45001                    NaN
45002                    NaN
45003                    NaN
45004                    NaN
45005                    NaN
45006                    NaN
45007                    NaN
45008                    NaN
45009                    NaN

### Comment
Investor_country_code has approx. 23% null values. The null values are NAN from the float type. The null values are leading to inconsistent data type along the chunks.

In [15]:
# Distribution of values in the Investor_country_code
dist_values('crunchbase-investments.csv', 5000, 'investor_country_code')

Values              Count   Percentage
USA                 36574   69.18
nan                 12001   22.7
GBR                 825     1.56
ISR                 521     0.99
CAN                 432     0.82
DEU                 349     0.66
FRA                 229     0.43
JPN                 222     0.42
CHE                 184     0.35
AUS                 163     0.31
CHN                 143     0.27
SWE                 120     0.23
IND                 105     0.2
SGP                 105     0.2
KOR                 74      0.14
NLD                 72      0.14
DNK                 70      0.13
RUS                 63      0.12
HKG                 53      0.1
IRL                 50      0.09
TWN                 47      0.09
ESP                 45      0.09
BEL                 44      0.08
NOR                 37      0.07
FIN                 36      0.07
LUX                 32      0.06
ITA                 28      0.05
MUS                 23      0.04
MYS                 15      0.03
CYM                 15      0.03
ARG                 14      0.03
NZL                 14      0.03
PRT                 13      0.02
BRA                 10      0.02
BHR                 10      0.02
LBN                 9       0.02
UKR                 9       0.02
HUN                 9       0.02
CHL                 8       0.02
EST                 8       0.02
ARE                 7       0.01
BMU                 6       0.01
PHL                 6       0.01
NGA                 6       0.01
ZAF                 5       0.01
VNM                 5       0.01
MEX                 5       0.01
JOR                 5       0.01
WSM                 4       0.01
TUR                 4       0.01
BGR                 4       0.01
SVN                 3       0.01
GIB                 3       0.01
PRI                 2       0.0
QAT                 2       0.0
ROM                 2       0.0
SAU                 2       0.0
CYP                 2       0.0
CZE                 2       0.0
PAK                 1       0.0
KEN                 1       0.0
LTU                 1       0.0
KHM                 1       0.0
MAR                 1       0.0
BHS                 1       0.0
ISL                 1       0.0
EGY                 1       0.0
GRC                 1       0.0
HRV                 1       0.0
GHA                 1       0.0
LIE                 1       0.0
POL                 1       0.0
KWT                 1       0.0

# Investor_state_code

In [16]:
# Distribution of values in the Investor_state_code
dist_values('crunchbase-investments.csv', 5000, 'investor_state_code')

Values              Count   Percentage
CA                  18405   34.81
nan                 16809   31.79
NY                  4404    8.33
MA                  3619    6.85
IL                  992     1.88
WA                  847     1.6
TX                  816     1.54
PA                  762     1.44
CO                  729     1.38
VA                  579     1.1
CT                  577     1.09
MD                  486     0.92
NJ                  456     0.86
NC                  339     0.64
DC                  323     0.61
MI                  315     0.6
OH                  309     0.58
GA                  274     0.52
FL                  242     0.46
UT                  200     0.38
MO                  148     0.28
TN                  147     0.28
MN                  101     0.19
RI                  92      0.17
IN                  88      0.17
OR                  85      0.16
AZ                  84      0.16
WI                  82      0.16
AL                  67      0.13
KY                  54      0.1
NH                  51      0.1
NM                  41      0.08
ME                  41      0.08
ID                  40      0.08
NV                  38      0.07
NE                  35      0.07
SC                  34      0.06
VT                  26      0.05
OK                  21      0.04
DE                  20      0.04
LA                  15      0.03
AR                  14      0.03
HI                  13      0.02
KS                  13      0.02
SD                  9       0.02
IA                  9       0.02
MS                  6       0.01
ND                  5       0.01
WV                  4       0.01
WY                  3       0.01
MT                  1       0.0

### Comment
The presence of 32% null values is leading to mixed datatypes when chunks of 5000 rows are read for data analysis.

# Investor_city

In [17]:
# Distribution of values in the Investor_city
dist_values('crunchbase-investments.csv', 5000, 'investor_city')

Values              Count   Percentage
nan                 12480   23.61
Menlo Park          7086    13.4
New York            3899    7.37
Palo Alto           3224    6.1
San Francisco       3124    5.91
Boston              1702    3.22
Cambridge           972     1.84
Chicago             742     1.4
Mountain View       724     1.37
London              699     1.32
Santa Clara         606     1.15
Seattle             604     1.14
Waltham             528     1.0
Boulder             516     0.98
Austin              356     0.67
Santa Monica        335     0.63
Washington          302     0.57
San Mateo           276     0.52
San Diego           273     0.52
Los Angeles         262     0.5
San Jose            247     0.47
Dallas              241     0.46
Atlanta             238     0.45
Durham              214     0.4
Greenwich           211     0.4
Redwood City        205     0.39
Paris               195     0.37
Tokyo               191     0.36
Bellevue            190     0.36
Salt Lake City      184     0.35
Sunnyvale           178     0.34
Baltimore           165     0.31
Portola Valley      161     0.3
Princeton           161     0.3
Philadelphia        147     0.28
Oakland             145     0.27
Wellesley           144     0.27
Bethesda            138     0.26
Cincinnati          132     0.25
Newton              131     0.25
Pittsburgh          124     0.23
Vienna              123     0.23
Stamford            122     0.23
La Jolla            116     0.22
Houston             111     0.21
Munich              110     0.21
Stockholm           109     0.21
New York City       108     0.2
Wayne               108     0.2
Arlington           107     0.2
St. Louis           107     0.2
Minneapolis         104     0.2
Toronto             103     0.19
Reston              102     0.19
Denver              100     0.19
San Bruno           98      0.19
Alexandria          98      0.19
Ann Arbor           98      0.19
Portland            95      0.18
Tel Aviv            95      0.18
Foster City         91      0.17
Redwood Shores      90      0.17
Herzeliya           88      0.17
Detroit             87      0.16
Singapore           84      0.16
Pasadena            80      0.15
Radnor              80      0.15
Providence          78      0.15
Beijing             75      0.14
Lawrenceville       73      0.14
Herzliya            73      0.14
Schaumburg          72      0.14
Herzelia            72      0.14
Miami               72      0.14
Woodside            71      0.13
Nashville           71      0.13
Seoul               71      0.13
Rocky Hill          70      0.13
Vancouver           70      0.13
Los Altos           69      0.13
Bala Cynwyd         67      0.13
Basel               67      0.13
Los Angels          67      0.13
Williamstown        66      0.12
Northbrook          63      0.12
Chevy Chase         62      0.12
Moscow              62      0.12
Cleveland           61      0.12
Santa Barbara       59      0.11
Mumbai              58      0.11
Indianapolis        57      0.11
Montreal            54      0.1
Sewickley           54      0.1
Saratoga            53      0.1
Bethlehem           52      0.1
Huntsville          52      0.1
Beverly Hills       51      0.1
Mill Valley         51      0.1
Burbank             51      0.1
Needham             50      0.09
Charlotte           49      0.09
New Brunswick       47      0.09
Viera               46      0.09
Carmel              45      0.09
Madison             44      0.08
Phoenix             44      0.08
Shanghai            42      0.08
Bonn                41      0.08
Raleigh             41      0.08
Zurich              41      0.08
Louisville          40      0.08
Cupertino           40      0.08
M�nchen             40      0.08
Sherman Oaks        40      0.08
Herzliya Pituach    39      0.07
Danville            39      0.07
Westport            38      0.07
Boise               37      0.07
Truckee             36      0.07
Columbus            36      0.07
Jerusalem           35      0.07
Dublin              34      0.06
Wakefield           34      0.06
Toronto, Ontario    32      0.06
Campbell            31      0.06
Hellerup            31      0.06
Herndon             31      0.06
Savyon              31      0.06
Ottawa              31      0.06
Gaithersburg        30      0.06
Scottsdale          30      0.06
Bryn Mawr           29      0.05
Hong Kong           29      0.05
Luxembourg          29      0.05
Needham Heights     29      0.05
McLean              29      0.05
Sausalito           29      0.05
Omaha               28      0.05
Memphis             28      0.05
Charlottesville     28      0.05
Santa Fe            28      0.05
Westminster         28      0.05
East Palo Alto      28      0.05
Wilmington          28      0.05
Montreal, Quebec    28      0.05
Oslo                27      0.05
Melbourne           27      0.05
Las Vegas           27      0.05
Greenwood Village   27      0.05
Norwalk             27      0.05
Berkeley            27      0.05
Taipei              25      0.05
Thousand Oaks       25      0.05
Amsterdam           25      0.05
Hanover             25      0.05
Corona del Mar      25      0.05
Rowayton            25      0.05
Murray Hil          25      0.05
Fremont             24      0.05
Brisbane            24      0.05
Lafayette           24      0.05
Berlin              24      0.05
Owings Mills        24      0.05
North Sydney        24      0.05
Irvine              24      0.05
Durango             23      0.04
Albany              23      0.04
San Rafael          23      0.04
Sacramento          23      0.04
Frankfurt           22      0.04
Brooklyn            22      0.04
Pyrmont             22      0.04
Glasgow             22      0.04
Bagsvaerd           21      0.04
Ewing               21      0.04
San Ramon           21      0.04
Milwaukee           21      0.04
Norwood             21      0.04
Toronto, ON         21      0.04
Conshohocken        20      0.04
Mayfield Heights    20      0.04
Greenville          20      0.04
Buffalo             20      0.04
Beachwood           20      0.04
Redmond             20      0.04
Walnut              20      0.04
Emeryville          20      0.04
Summit              20      0.04
Burlingame          19      0.04
Milano              19      0.04
San Antonio         19      0.04
Athens              19      0.04
Shelburne           19      0.04
West Conshohocken   19      0.04
Helsinki            19      0.04
Fort Lauderdale     19      0.04
Port Louis          18      0.03
Midland             18      0.03
Montr�al            18      0.03
Fairfield           18      0.03
Westwood            18      0.03
Montvale            18      0.03
Winter Park         18      0.03
Amherst             18      0.03
Englewood           18      0.03
Kirkland            18      0.03
Stanford            18      0.03
Madrid              18      0.03
Elmhurst            18      0.03
Bangalore           17      0.03
Kansas City         17      0.03
Milpitas            17      0.03
Stillwater          16      0.03
Sydney              16      0.03
Farmington          16      0.03
Northfield          16      0.03
Barcelona           16      0.03
Newport Beach       15      0.03
Edinburgh           15      0.03
Brentwood           15      0.03
Duluth              15      0.03
Brussels            15      0.03
West Newton         15      0.03
St Helier, Jersey   15      0.03
Rosemont            15      0.03
East Melbourne      15      0.03
White Plains        15      0.03
Clayton             15      0.03
Columbia            15      0.03
Altadena            15      0.03
Radford             14      0.03
Birmingham          14      0.03
Antwerpen           14      0.03
Grand Cayman        14      0.03
Honolulu            13      0.02
Shenzhen            13      0.02
Naples              13      0.02
Kuala Lumpur        13      0.02
St. Petersburg      13      0.02
Atherton            13      0.02
Mount Laurel        13      0.02
Washington, DC      13      0.02
Richardson          13      0.02
Lexington           13      0.02
Albuquerque         13      0.02
Salem               12      0.02
Tel-Aviv            12      0.02
Geneva              12      0.02
Naarden             12      0.02
Buenos Aires        12      0.02
Knoxville           12      0.02
Ithaca              12      0.02
Livermore           12      0.02
Grand Rapids        12      0.02
Alamo               12      0.02
Hsinchu             12      0.02
Braintree           12      0.02
Audubon             12      0.02
Silver Spring       11      0.02
Great Neck          11      0.02
Armonk              11      0.02
Centennial          11      0.02
Vancouver, BC       11      0.02
Carlsbad            11      0.02
Stuttgart           11      0.02
Kalamazoo           11      0.02
Irving              10      0.02
Petoskey            10      0.02
Lisboa              10      0.02
Winston-Salem       10      0.02
Laguna Beach        10      0.02
West Hollywood      10      0.02
Newport             10      0.02
Spokane             10      0.02
Cedar Creek         10      0.02
Farmington Hills    10      0.02
Rochester           10      0.02
Wayzata             10      0.02
Westerville         10      0.02
Auckland            10      0.02
El Dorado Hills     10      0.02
Hartford            10      0.02
San Francisco,      10      0.02
Natick              9       0.02
Nasheville          9       0.02
King of Prussia     9       0.02
Orlando             9       0.02
Marina Del Rey      9       0.02
Lake Forest         9       0.02
Jerusalim           9       0.02
Richmond            9       0.02
Incline Village     9       0.02
Fulton              9       0.02
West Palm Beach     9       0.02
Clifton             9       0.02
Costa Mesa          9       0.02
Tulsa               9       0.02
Budapest            9       0.02
Sydney, NSW         9       0.02
Kyiv                8       0.02
Healdsburg          8       0.02
Harrisburg          8       0.02
Oklahoma City       8       0.02
Beirut Central District8       0.02
Highland Park       8       0.02
Roslyn Height       8       0.02
Manama              8       0.02
Pawtucket           8       0.02
Alphen aan den Rijn 8       0.02
Guernsey            8       0.02
Eden Prairie        8       0.02
Sioux Falls         8       0.02
New Orleans         8       0.02
M�_nchen            8       0.02
Sarasota            8       0.02
Tallinn             8       0.02
Teaneck             8       0.02
Keene               8       0.02
Ponte Vedra Beach   7       0.01
Mclean              7       0.01
Cork                7       0.01
Ra'anana            7       0.01
Bern                7       0.01
Utrecht             7       0.01
Staten Island       7       0.01
Central             7       0.01
Hertzelia Pituach   7       0.01
Tampa               7       0.01
Portsmouth          7       0.01
Rotterdam           7       0.01
Lincoln             7       0.01
PARIS               7       0.01
Darmstadt           7       0.01
El Paso             7       0.01
Deerfield           7       0.01
Weston              7       0.01
Lisle               7       0.01
Torrance            7       0.01
Chantilly           7       0.01
San Francsico       7       0.01
Washington D.C.     7       0.01
Vancouver, British Columbia7       0.01
Baton Rouge         7       0.01
Avon                7       0.01
Burlington          7       0.01
Foxborough          6       0.01
Newton Lower Falls  6       0.01
New Canaan          6       0.01
Mansfield           6       0.01
Hopkinton           6       0.01
Hopkins             6       0.01
New Delhi           6       0.01
Little Rock         6       0.01
Alpharetta          6       0.01
New Haven           6       0.01
Petach-Tikva        6       0.01
Newark              6       0.01
G�tersloh           6       0.01
Los Altos Hills     6       0.01
Hertzeliya Pituach  6       0.01
Wan Chai            6       0.01
SANTA BARBARA       6       0.01
Quincy              6       0.01
Middleton           6       0.01
Boca Raton          6       0.01
Lagos               6       0.01
Darien              6       0.01
Copenhagen          6       0.01
Brookline           6       0.01
NEW YORK            6       0.01
Brunswick           5       0.01
Danvers             5       0.01
Solana Beach        5       0.01
Amman               5       0.01
Plano               5       0.01
Mt. Laurel          5       0.01
Jackson             5       0.01
Glenwood            5       0.01
Falls Church        5       0.01
Santiago            5       0.01
Syracuse            5       0.01
Prairie Village     5       0.01
Aliso Viejo         5       0.01
Doylestown          5       0.01
Fort Lee            5       0.01
El Segundo          5       0.01
Saint Louis         5       0.01
Wexford             5       0.01
Unterhaching        5       0.01
Calgary, AB         5       0.01
Roncade (TV)        5       0.01
Manchester          5       0.01
Lansdowne (Leesburg)5       0.01
Leuven              5       0.01
Charleston          5       0.01
Rockville           5       0.01
Doublin             5       0.01
L�vis               5       0.01
Guildford Surrey    5       0.01
Pembroke            5       0.01
Laguna Hills        4       0.01
Toronto, Montreal   4       0.01
Copenhagen K        4       0.01
Lake Oswego         4       0.01
Anchorage           4       0.01
Carpinteria         4       0.01
Pittsford           4       0.01
Addison             4       0.01
Victoria            4       0.01
Milford             4       0.01
Washington DC       4       0.01
Melbourne, Victoria 4       0.01
Urmond              4       0.01
Ontario             4       0.01
Osaka               4       0.01
Minato-ku, Tokyo    4       0.01
K�snacht            4       0.01
Chapel Hill         4       0.01
Agoura Hills        4       0.01
Chattanooga         4       0.01
Trenton             4       0.01
Cary                4       0.01
Waco                4       0.01
Long Island City    4       0.01
Long Beach          4       0.01
Petach Tikva        4       0.01
Scotts Valley       4       0.01
Belfast             4       0.01
Suite 1555          4       0.01
Espoo               4       0.01
Beaverton           4       0.01
Ignacio             4       0.01
Ridgewood           4       0.01
Holland             4       0.01
Effingham           4       0.01
Riihim�_ki          4       0.01
Research Triangle Park4       0.01
Jenks               4       0.01
Sofia               4       0.01
Kadoma,             4       0.01
Rancho Santa Fe     4       0.01
Skokie              4       0.01
Kennesaw            4       0.01
Berkshire           4       0.01
Ramat Hasharon      4       0.01
Round Rock          4       0.01
Taufusi             4       0.01
Dubai               4       0.01
Dublin 2            4       0.01
Sao Paulo           4       0.01
Stratford           4       0.01
Gothenburg          4       0.01
Glendale            4       0.01
Quebec              4       0.01
Cos Cob             4       0.01
Short Hills         4       0.01
Courbevoie          4       0.01
St. Paul            3       0.01
Hauppauge           3       0.01
Nuevo Leon          3       0.01
Champaign           3       0.01
Hicksville          3       0.01
Metro Manila        3       0.01
Cedar Park          3       0.01
Bedford             3       0.01
D�_sseldorf         3       0.01
Meerbusch-Osterath  3       0.01
Hanoi City          3       0.01
Tuxedo Park         3       0.01
Tempe               3       0.01
Spring Lake         3       0.01
St. Francis         3       0.01
Calgary, Alberta    3       0.01
Bath                3       0.01
Wellington          3       0.01
Bristol             3       0.01
NYC                 3       0.01
NY                  3       0.01
Bloomington         3       0.01
Fargo               3       0.01
Mountainside        3       0.01
Mount Shasta        3       0.01
Wuppertal           3       0.01
West Henrietta      3       0.01
Southlake           3       0.01
Vitacura            3       0.01
Bloomfield Hills    3       0.01
Evanston            3       0.01
G̦teborg            3       0.01
Newtown Square      3       0.01
Niwot               3       0.01
Mississauga         3       0.01
Calgary             3       0.01
San Juan Capistrano 3       0.01
Oxford              3       0.01
Freehold            3       0.01
Holstebro           3       0.01
Bilbao              3       0.01
Swindon             3       0.01
Des Moines          3       0.01
Richfield           3       0.01
Wichita             3       0.01
Manhattan Beach     3       0.01
Chico               3       0.01
Istanbul            3       0.01
Little Chute        3       0.01
Dayton              3       0.01
Libertyville        3       0.01
Diplomvej           3       0.01
Jersey City         3       0.01
Lehi                3       0.01
Ramat-Gan           3       0.01
College Park        3       0.01
Potsdam             3       0.01
Wenchai             3       0.01
Ramat Gan           3       0.01
Corning             3       0.01
La Vergne           3       0.01
Wilton              3       0.01
Cheyenne            3       0.01
Makati City         3       0.01
Tucson              3       0.01
Palo Alt            3       0.01
Superior            3       0.01
MILLERS POINT NSW   3       0.01
Hong Kong SAR       3       0.01
Park City           3       0.01
Zuerich             2       0.0
Westlake            2       0.0
Z�_rich             2       0.0
Walldorf            2       0.0
Nuremberg           2       0.0
Potomac             2       0.0
Provo               2       0.0
Yardley             2       0.0
Port Washington     2       0.0
West Des Moines     2       0.0
Wausau              2       0.0
Powell              2       0.0
New York,           2       0.0
New Lenox           2       0.0
Prague 5            2       0.0
Tullahoma           2       0.0
Oviedo              2       0.0
Wayland             2       0.0
The Hague           2       0.0
Saratoga Springs    2       0.0
Savannah            2       0.0
Wanchai             2       0.0
herndon             2       0.0
Warrenville         2       0.0
Taipei City         2       0.0
Stow                2       0.0
Pamplona            2       0.0
Perth               2       0.0
Surbiton, Surrey    2       0.0
Rijswijk            2       0.0
Winnipeg            2       0.0
Verona              2       0.0
Norton              2       0.0
Vestavia Hills      2       0.0
Traverse City       2       0.0
Saint Petersburg    2       0.0
Rio de Janeiro      2       0.0
West Lafayette      2       0.0
Richburg            2       0.0
San Juan            2       0.0
Waterloo, ON        2       0.0
North York          2       0.0
Virginia Beach      2       0.0
Stevenson           2       0.0
North Logan         2       0.0
Watertown           2       0.0
West Point          2       0.0
SALT LAKE CITY      2       0.0
Woodcliff Lake      2       0.0
Winnetka            2       0.0
Regensburg          2       0.0
Newcastle upon Tyne 2       0.0
Southport           2       0.0
Oshkosh             2       0.0
(Oct. 01, 2011 - Sep. 30, 2012)2       0.0
Kadima              2       0.0
Andover             2       0.0
Luxembourg City     2       0.0
Kortrijk            2       0.0
Des Plaines         2       0.0
Kolitzheim          2       0.0
Macungie            2       0.0
Kita-ku, Sapporo    2       0.0
Manasquan           2       0.0
Bucharest           2       0.0
Guildford           2       0.0
Kingsport           2       0.0
Auburn              2       0.0
ABERDEEN            2       0.0
Doha                2       0.0
Greenport           2       0.0
Butler              2       0.0
Highlands Ranch     2       0.0
Asheville           2       0.0
Cologne             2       0.0
Cottonwood Heights  2       0.0
Broomfield          2       0.0
Lugano              2       0.0
Los Gatos           2       0.0
Hasselt             2       0.0

Pune                1       0.0
Pullach             1       0.0
Kranj               1       0.0
LYON                1       0.0
Lake Mary           1       0.0
Preston             1       0.0
Lake Success        1       0.0
Lancaster           1       0.0
Larkspur            1       0.0
Leawood             1       0.0
Leeds               1       0.0
Lenexa              1       0.0
Marietta            1       0.0
Marlborough         1       0.0
Martinsried / Munich1       0.0
Overland Park       1       0.0
Mississauga, Ontario1       0.0
Norfolk             1       0.0
Noida               1       0.0
Mkalles             1       0.0
Ningbo              1       0.0
Monroe Township     1       0.0
Mont-Saint-Guibert  1       0.0
Newport Coast       1       0.0
Montgomery          1       0.0
Montreal (Quebec)   1       0.0
Montr̩al (Qu̩bec)   1       0.0
Mooresville         1       0.0
NewYork             1       0.0
Morrisville         1       0.0
New Taipei City     1       0.0
Myrtle Beach        1       0.0
M�nster             1       0.0
NW Atlanta          1       0.0
Nairobi             1       0.0
North Mankato       1       0.0
Minnetonka          1       0.0
Mineola             1       0.0
Mequon              1       0.0
Ottawa, ON          1       0.0
Mason               1       0.0
Mayfair             1       0.0
McDonough           1       0.0
McKinney            1       0.0
Orange              1       0.0
Melbourn            1       0.0
Olathe              1       0.0
Ocala               1       0.0
Milan               1       0.0
Oakville, ON        1       0.0
Oak Brook           1       0.0
OSAKA               1       0.0
Mexico              1       0.0
Miami Shores        1       0.0
Novi                1       0.0
Mich                1       0.0
Midlothian          1       0.0
Katonah             1       0.0
Reading             1       0.0
South Iselin        1       0.0
Saskatoon SK        1       0.0
Golden              1       0.0
Goleta              1       0.0
Granby              1       0.0
Greenbrae           1       0.0
Santa Rosa          1       0.0
Groot-Bijgaarden    1       0.0
Guelph Ontario      1       0.0
Sandvika            1       0.0
San Ramon,          1       0.0
Gurgaon             1       0.0
Gyeonggi-do         1       0.0
San Pedro Garza Garcia1       0.0
G�teborg            1       0.0
Ha Noi              1       0.0
Hague               1       0.0
Haifa               1       0.0
Hancock             1       0.0
Hangzhou            1       0.0
San Carlos          1       0.0
Glattbrugg          1       0.0
Schaslyve           1       0.0
Jung-gu, Seoul      1       0.0
Fulbourn; Cambridge 1       0.0
Solon               1       0.0
Exton               1       0.0
FAIRPORT            1       0.0
Fairfax             1       0.0
Singapore City      1       0.0
Feldkirchen         1       0.0
Simsbury            1       0.0
Forde               1       0.0
Shindian City       1       0.0
Sherwood            1       0.0
Fort Smith          1       0.0
Shenyang            1       0.0
Fountain Valley     1       0.0
Sheffield           1       0.0
Framingham          1       0.0
Sevilla             1       0.0
Nassau              1       0.0
Seongnam-city, GyeongGi-Do1       0.0
Ft. Lauderdale      1       0.0
Hayward             1       0.0
Salisbury           1       0.0
Haywards Heath      1       0.0
Sainte-Foy          1       0.0
Riverside           1       0.0
Rishon LeZion       1       0.0
Hunt Valley         1       0.0
Ringwood, Hampshire 1       0.0
Ringgold            1       0.0
Huntington          1       0.0
Huntington Beach    1       0.0
Hyderabad           1       0.0
Ridgeland           1       0.0
Ingelheim am Rhein  1       0.0
Ishpeming           1       0.0
Island Pond         1       0.0
Issaquah            1       0.0
Reykjavik           1       0.0
Issy Les Moulineaux 1       0.0
Research Triangle Park,1       0.0
Regina              1       0.0
Jamnagar            1       0.0
Jessup              1       0.0
Rivonia             1       0.0
Riyadh              1       0.0
Hsinchu City        1       0.0
Heverlee            1       0.0
Heidelberg          1       0.0
Henderson           1       0.0
Safat               1       0.0
Herzelia Pituach    1       0.0
SOUTHLAKE           1       0.0
Herzlia Pituach     1       0.0
S. Sartell          1       0.0
Rownhams            1       0.0
Hillsborough        1       0.0
Hsin-Chu            1       0.0
Roslyn Heights      1       0.0
Ho Chi Minh City    1       0.0
Rosh Haayin         1       0.0
Roseville           1       0.0
Hoboken             1       0.0
Hollywood           1       0.0
Rohnert Park        1       0.0
Howald              1       0.0
Mannheim            1       0.0

### Comment
The presence of 23% null values is causing inconsistent data types in investor_city column.

# Funded_year

In [18]:
# Distribution of values in the funded_year
dist_values('crunchbase-investments.csv', 5000, 'funded_year')

Values              Count   Percentage
2012.0              8773    16.59
2011.0              8259    15.62
2013.0              7115    13.46
2010.0              6295    11.91
2008.0              4937    9.34
2007.0              4781    9.04
2009.0              4710    8.91
2006.0              3867    7.31
2005.0              2990    5.66
2004.0              411     0.78
2000.0              176     0.33
2003.0              172     0.33
2002.0              145     0.27
2001.0              116     0.22
1999.0              95      0.18
1998.0              11      0.02
1995.0              5       0.01
1997.0              5       0.01
nan                 3       0.01
1996.0              2       0.0
1987.0              2       0.0

### Comment 
Mixed data type int and float due to the nan that belongs to float type.

## Load Into SQLite Database

In [19]:
import sqlite3
conn = sqlite3.connect('crunchbase.db')
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')
for chunk in chunk_iter:
    chunk.to_sql("investments", conn, if_exists='append', index=False)